Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

Some of the popular languages that Data Scientists use are:

1 python

2 R

3 julia

| Data Science Tools |
|----------|
|   jupyter   |   
|   anaconda   |  
|   Rstudio   |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers

In [2]:
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60

In [4]:
200/60

3.3333333333333335

## Objectives

### Topics Covered in This Notebook

- List popular languages for Data Science  
- Create and render Markdown tables  
- Arithematic expressions 
- Add comments in both code and Markdown cells  
- tools for datascience

## Author

Hasnaat Abdullah